# Binaries
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Directories
.git/
.vscode/
tmp/
tmp_build/
test/
vendor/
services/EMQX-Auth-Service
bin/
services/*/build/
services/*/venv/
uploads/

# Logs
*.log

# Environment files (optional, depending on security preference)
# .env

# Docker
Dockerfile
docker-compose.yml
