# Binaries
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Directories
.git/
.vscode/
tmp/
tmp_build/
test/
vendor/

# Environment files (optional, depending on security preference)
# .env

# Docker
Dockerfile
docker-compose.yml
