services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./:/app
      - ./tmp:/app/tmp
    env_file:
      - .env
    environment:
      - GIN_MODE=debug
    tty: true
    stdin_open: true
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
